*.dart linguist-language=Dart
android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
.idea/** linguist-vendored
.dart_tool/** linguist-vendored
